@use "sass:color";
@use "core/variables" as vars;

.window {
  background-color: color.adjust(vars.$crust, $alpha: -0.1);
}

.panelButton {
  &.dateTime {
    .icon {
      color: vars.$peach;
    }
  }
  &.connection {
    .icon {
      color: vars.$mauve;
    }
  }
  &.storage {
    .icon,
    .value {
      color: vars.$yellow;
    }
  }
  &.gtop {
    .icon {
      color: vars.$blue;
    }
  }

  &.razer {
    .icon,
    .value {
      color: vars.$green;
    }
    .low {
      .icon,
      .value {
        color: vars.$peach;
      }
    }

    .critical {
      .icon,
      .value {
        color: vars.$red;
      }
    }
  }
  &.audio {
    .icon,
    .value {
      color: vars.$sapphire;
    }
    &.microphone {
      .icon,
      .volume {
        color: vars.$sky;
      }
    }
  }

  &.workspace {
    font-size: 1.2rem;
    padding: 0 3px;
    min-width: 25px;
    &.active {
      label {
        color: vars.$mauve;
      }
      background-color: color.adjust(vars.$mauve, $alpha: -0.8);
    }
    &.empty:not(.active) label {
      color: color.adjust(vars.$fg, $alpha: -0.3);
    }
  }
}

.calendar {
  &.button {
    color: vars.$fg;
  }

  .highlight {
    color: vars.$accent;
  }
  .indeterminate {
    color: vars.$fg;
  }
  .header {
    color: vars.$fg;
  }
}

.notification {
  .icon {
    color: vars.$primary;
  }
  .appname,
  .time {
    color: color.adjust(vars.$fg, $alpha: -0.6);
  }
  .message {
    color: color.adjust(vars.$fg, $alpha: -0.6);
  }
}

.notificationHistory {
  .notification {
    border: 1px solid color.adjust($color: vars.$fg, $alpha: -0.8);
  }
}
