@use "sass:color";
@use "core/variables" as vars;

.panelButton {
  &.dateTime {
    .icon {
      color: #fab387;
    }
  }
  &.connection {
    .icon {
      color: #cba6f7;
    }
  }
  &.storage {
    .icon,
    .value {
      color: #f9e2af;
    }
  }
  &.razer {
    .icon,
    .value {
      color: #a6e3a1;
    }
    .low {
      .icon,
      .value {
        color: #fab387;
      }
    }

    .critical {
      .icon,
      .value {
        color: #f38ba8;
      }
    }
  }
  &.audio {
    .icon,
    .value {
      color: #74c7ec;
    }
    &.microphone {
      .icon,
      .volume {
        color: #89dceb;
      }
    }
  }

  &.workspace {
    font-size: 1.2rem;
    padding: 0 3px;
    min-width: 25px;
    &.active {
      label {
        color: #cba6f7;
      }
      background-color: rgba(203, 166, 247, 0.1);
    }
    &.empty:not(.active) label {
      color: color.scale(vars.$fg, $alpha: 70%);
    }
  }
}

.calendar {
  &.button {
    color: vars.$fg;
  }

  .highlight {
    color: vars.$accent;
  }
  .indeterminate {
    color: vars.$fg;
  }
  .header {
    color: vars.$fg;
  }
}

.notification {
  .icon {
    color: vars.$primary;
  }
  .appname,
  .time {
    color: color.scale(vars.$fg, $alpha: 50%);
  }
  .message {
    color: color.scale(vars.$fg, $alpha: 50%);
  }
}

.notificationHistory {
  .notification {
    border: 1px solid color.scale($color: vars.$fg, $alpha: 10%);
  }
}
