@use "variables" as vars;

.panelButton {
  &.dateTime {
    .icon {
      color: #fab387;
    }
  }
  &.audio {
    .icon,
    .volume {
      color: #74c7ec;
    }
    &.microphone {
      .icon,
      .volume {
        color: #89dceb;
      }
    }
  }

  &.workspace {
    font-size: 1.2rem;
    padding: 0 3px;
    min-width: 25px;
    &.active {
      color: #cba6f7;
      background-color: rgba(203, 166, 247, 0.1);
    }
    &.empty:not(.active) {
      opacity: 0.2;
    }
  }
}

.calendar {
  &.button {
    color: vars.$fg;
  }

  .highlight {
    color: vars.$accent;
  }
  .indeterminate {
    color: vars.$fg;
  }
  .header {
    color: vars.$fg;
  }
}

.notification {
  .icon {
    color: vars.$primary;
  }
  .appname,
  .time {
    color: transparentize(vars.$fg, 0.5);
  }
  .message {
    color: transparentize(vars.$fg, 0.5);
  }
}
