@use "../variables" as vars;

eventbox.notification {
  &:last-child > box {
    margin-bottom: 1px;
  }

  // eventboxes can not take margins so we style its inner box instead
  > box {
    min-width: 300px;
    border-radius: vars.$borderRadius;
    background-color: vars.$bg;
    margin: 0.3rem;
    // border: 2px solid vars.$primary;
    //
    .image {
      border-radius: 0.5rem;
      min-width: 5rem;
      min-height: 5rem;
      margin-right: 1rem;
    }
  }

  &.critical > box {
    border: 2px solid vars.$warning;

    .header {
      .app-name {
        color: vars.$warning;
      }

      .app-icon {
        color: vars.$warning;
      }
    }
  }
}

.notificationHistory {
  .notification > box {
    border: 1px solid transparentize(vars.$fg, 0.9);
  }
}
