@use "../variables" as vars;

eventbox.notification {
  &:last-child > box {
    margin-bottom: 1px;
  }

  // eventboxes can not take margins so we style its inner box instead
  > box {
    min-width: 300px;
    border-radius: vars.$borderRadius;
    background-color: vars.$bg;
    // margin: 5px;
    // border: 2px solid vars.$primary;
  }

  &.critical > box {
    border: 2px solid vars.$warning;

    .header {
      .app-name {
        color: vars.$warning;
      }

      .app-icon {
        color: vars.$warning;
      }
    }
  }
}
