@use "../variables" as vars;

.osd {
  .inner {
    min-width: 220px;
    padding: 4px 28px;
  }
  .title {
    margin-bottom: 4px;
  }
  .icon {
    all: unset;
    margin-right: 28px;
    font-size: 48px;
    // color: vars.$fg;
  }
}
