@use "variables"as vars;

.slider {
  all: unset;
}

.slider trough {
  all: unset;
  background: vars.$sliderTrough;
  min-height: 8px;
  border-radius: 16px;
}

.slider trough slider {
  all: unset;
}

.slider trough highlight {
  all: unset;
  min-width: 8px;
  border-radius: 16px;
  background: vars.$fg;
}
