@use "variables"as vars;

.systemInfo {
  .powerOptions {
    button {
      min-width: 3rem;
      min-height: 4rem;
      font-size: 2rem;
      margin: 0 8px;
    }
  }
}

.row {
  margin: 0 20px 0 20px;
}

.rowRevealer {
  padding: 6px 30px 6px 30px;
}
